.title {
    margin-bottom: 5dvh !important;
}

.contact-card {
    height: 27.5dvh !important;
    width: 50dvw;
    border-radius: 0 !important;
    text-align: center;
    background-color: var(--secondaryColour) !important;
    border-color: var(--secondaryColour) !important;
    transition: all .2s ease-in-out;
    margin-bottom: 15dvh;
}

.contact-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px var(--highlightColor2);
}

p {
    color: var(--textColour);
}