.hero {
    display: flex;
    align-items: center;
    background: url("../images/bg-img01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    box-shadow: inset 0 0 0 2000px #272640c0;
    justify-content: center;
    text-align: center;
}

.hero img {
    height: 20rem;
}
