.download {
    margin-top: 5dvh;
    text-align: center !important;
}

.btn-download {
    color: var(--textColor) !important;
    border-color: var(--highlightColor) !important;
    border-radius: 25px !important;
    background-color: var(--secondaryColour) !important;
}

.btn-download:hover {
    border-color: var(--secondaryColour) !important;
    background-color: var(--highlightColor2) !important;
}

.btn-download:active {
    border-color: var(--secondaryColour) !important;
    background-color: var(--secondaryColour) !important;
}